#include <arm/armv7-m.dtsi>
#include <dt-bindings/gpio/gpio.h>

/ {
	cpus {
		#address-cells = <1>;
		#size-cells = <0>;

		cpu@0 {
			compatible = "arm,cortex-m3";
			reg = <0>;
		};
	};

	sram0:memory@2007C000 {
		compatible = "mmio-sram";
		reg = <0x10000000 0x8000>;
	};

	soc {
		flash0:flash@0 {
			reg = <0 0x80000>;
		};

		pinmux: pinmux@4002C000 {
			compatible = "nxp,lpc17xx-pinmux";
			reg = <0x4002C000 0x7C>;
		};

		uart0: uart@4000C000 {
		       compatible = "nxp,lpc17xx-uart";
		       reg = <0x4000C000 0x4c>;
		       label = "UART_0";
		};

		spi0: spi@40088000 {
			compatible = "nxp,lpc17xx-spi";
			reg = <0x40088000 0x24>;
			interrupts = <14 3>;
			label = "SPI_0";
			#address-cells = <1>;
			#size-cells = <0>;
			status = "disabled";
		};

		spi1: spi@40030000 {
			compatible = "nxp,lpc17xx-spi";
			reg = <0x40030000 0x24>;
			interrupts = <15 3>;
			label = "SPI_1";
			#address-cells = <1>;
			#size-cells = <0>;
		};

    gpio: gpio@2009C000 {
			compatible = "nxp,lpc17xx-gpio";
			reg = <0x2009C000 0x9C>;
			label = "GPIO";
			gpio-controller;
			#gpio-cells = <2>;
		};
	};
};

&nvic {
	arm,num-irq-priority-bits = <5>;
};
