choice
prompt "LPC LPC17XX MCU Selection"
depends on SOC_SERIES_LPC17XX

config SOC_LPC1769
	bool "SOC_LPC1769"
	select CPU_CORTEX_M3

endchoice

config SYS_CRYSTAL_FREQ
       int "Crystal frequency"
       default "12000000"
