if BOARD_ZKIT_ARM_1769

config BOARD
	default "ZKit-ARM-1769"

if UART_LPC17XX

config UART_LPC17XX_PORT_0
	def_bool y if UART_CONSOLE

endif # UART_LPC17XX

if GPIO
   config GPIO_LPC17XX
	def_bool y

endif
endif # BOARD_ZKIT_ARM_1769
