CONFIG_ARM=y
CONFIG_SOC_LPC1769=y
CONFIG_SOC_SERIES_LPC17XX=y
CONFIG_BOARD_ZKIT_ARM_1769=y
CONFIG_CONSOLE=n
CONFIG_UART_CONSOLE=n
CONFIG_SERIAL=n
CONFIG_CORTEX_M_SYSTICK=y
CONFIG_SYS_CLOCK_HW_CYCLES_PER_SEC=4000000
