if SOC_LPC1769

config SOC
       string
       default "lpc1769"

if PINMUX

config PINMUX_LPC17XX
	def_bool y

endif # PINMUX

if SERIAL

config UART_LPC17XX
	def_bool y

endif # SERIAL

if SPI

config SPI_LPC17XX
	def_bool y

endif # SPI

endif

if GPIO

config GPIO_LPC17XX
	def_bool y

endif # GPIO


endif
