# Kconfig - ETH_STELLARIS Ethernet driver configuration options

#
# Copyright (c) 2018 Zilogic Systems
#
# SPDX-License-Identifier: Apache-2.0
#

menuconfig ETH_STELLARIS
	bool "Enable TI Stellaris MCU family ethernet driver."
	depends on NET_L2_ETHERNET
	default n
	help
	  Stellaris on-board Ethernet Controller

if ETH_STELLARIS
config ETH_STELLARIS_NAME
	string "Driver's name"
	default "ETH_0"

config ETH_STELLARIS_MAC0
        hex "MAC Address Byte 0"
        default 0
        help
          This is the byte 0 of the MAC address.

config ETH_STELLARIS_MAC1
        hex "MAC Address Byte 1"
        default 0
        help
          This is the byte 1 of the MAC address.

config ETH_STELLARIS_MAC2
        hex "MAC Address Byte 2"
        default 0
        help
          This is the byte 2 of the MAC address.

config ETH_STELLARIS_MAC3
        hex "MAC Address Byte 3"
        default 0
        help
          This is the byte 3 of the MAC address.

config ETH_STELLARIS_MAC4
        hex "MAC Address Byte 4"
        default 0
        help
          This is the byte 4 of the MAC address.

config ETH_STELLARIS_MAC5
        hex "MAC Address Byte 5"
        default 0
        help
          This is the byte 5 of the MAC address.

endif #ETH_STELLARIS
